##### A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable.

###### Understanding the concept of immutable and mutable

In [24]:
lis_1=['Maths','History','Geography','Science']
print("lis_1 :",lis_1)
lis_2=lis_1
print("lis_2 :",lis_2)
lis_1[0]='Arts'
print("lis_1 :",lis_1)
print("lis_2 :",lis_2)

lis_1 : ['Maths', 'History', 'Geography', 'Science']
lis_2 : ['Maths', 'History', 'Geography', 'Science']
lis_1 : ['Arts', 'History', 'Geography', 'Science']
lis_2 : ['Arts', 'History', 'Geography', 'Science']

In [25]:
tuple_1=('IT','Comp','EE','ET')
print("tuple_1 :",tuple_1)
tuple_2=tuple_1
print("tuple_2 :",tuple_2)
tuple_1[0]='AR'
print("tuple_1 :",tuple_1)
print("tuple_2 :",tuple_2)

tuple_1 : ('IT', 'Comp', 'EE', 'ET')
tuple_2 : ('IT', 'Comp', 'EE', 'ET')

TypeError: 'tuple' object does not support item assignment

'tuple' object does not support item assignment since its immutable.

Since tuple is immutable, it doesnot have nearly as many methods like lists i.e append,remove,insert etc.which mutates. But apart from that it supports access, looping like lists.


Hence if you want to modify something use list but if you just want something to access and loop through use tuple.

###### Creating tuples

In [1]:
# Creating Tuples
# An empty tuple 
empty_tuple = () 
print (empty_tuple)

()

In [3]:
h=(391)
type(h)

int

In [4]:
k=(391,)
type(k)

tuple

In [2]:
# Creating non-empty tuples 

# One way of creation 
tup = 'python', 'geeks'
print(tup) 

# Another for doing the same 
tup = ('python', 'geeks') 
print(tup)

('python', 'geeks')
('python', 'geeks')

In [3]:
# Code for concatenating 2 tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 

# Concatenating above two 
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'geek')

In [4]:
# Code for creating nested tuples 

tuple1 = (0, 1, 2, 3) 
tuple2 = ('python', 'geek') 
tuple3 = (tuple1, tuple2) 
print(tuple3)

((0, 1, 2, 3), ('python', 'geek'))

In [5]:
# Code to create a tuple with repetition 

tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

In [7]:
tuple3 = ('python')*3
print(tuple3)

pythonpythonpython

In [31]:
#code to test that tuples are immutable 

tuple1 = (0, 1, 2, 3) 
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [32]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
# code to test slicing 

tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [1]:
# Code for deleting a tuple 

tuple3 = ( 0, 1) 
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

In [11]:
# Code for printing the length of a tuple 

tuple2 = ('python', 'geek') 
print(len(tuple2))

2

In [14]:
# Code for converting a list and a string into a tuple 
#Takes a single parameter which may be a list,string,set or even a dictionary( only keys are taken as elements) 
#and converts them to a tuple.

list1 = [0, 1, 2] 
print(tuple(list1)) 
print(tuple('python')) # string 'python' 
print(tuple({'python':'ansible','spring':'java'}))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')
('python', 'spring')

In [15]:
#python code for creating tuples in a loop 

tup = ('geek',) 
n = 5 #Number of time loop runs 
for i in range(int(n)): 
	tup = (tup,) 
	print(tup)

(('geek',),)
((('geek',),),)
(((('geek',),),),)
((((('geek',),),),),)
(((((('geek',),),),),),)

In [34]:
# A python program to demonstrate the use of 
# cmp(), max(), min() 

tuple1 = ('python', 'geek') 
tuple2 = ('coder', 1) 

if (cmp(tuple1, tuple2) != 0): 

	# cmp() returns 0 if matched, 1 when not tuple1 
	# is longer and -1 when tuple1 is shoter 
	print('Not the same') 
else: 
	print('Same') 
print ('Maximum element in tuples 1,2: ' +
		str(max(tuple1)) + ',' +
		str(max(tuple2))) 
print ('Minimum element in tuples 1,2: ' +
	str(min(tuple1)) + ',' + str(min(tuple2))) 

#Note: max() and min() checks the based on ASCII values. If there are two strings in a tuple,
#then the first different character in the strings are checked.

NameError: name 'cmp' is not defined

Packing and Unpacking a Tuple :

In Python there is a very powerful tuple assignment feature that assigns right hand side of values into left hand side. In other way it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

NOTE : In unpacking of tuple number of variables on left hand side should be equal to number of values in given tuple a.

In [14]:
# Program to understand about 
# packing and unpacking in Python 

# this lines PACKS values 
# into variable a 
a = ("MNNIT Allahabad", 5000, "Engineering") 

# this lines UNPACKS values 
# of variable a 
(college, student, type_ofcollege) = a 

# print college name 
print(college) 

# print no of student 
print(student) 

# print type of college 
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [7]:
def minmax(items):
    return min(items),max(items)
minmax([1,2,3,4])

(1, 4)

In [8]:
lower,upper=minmax([1,2,3,4])
print(lower)
print(upper)

1
4

In [9]:
(a,(b,(c,d)))=(5,(6,(7,8)))
print(a)
print(b)
print(c)
print(d)

5
6
7
8

In [10]:
a,b=('jelly','bean')
print(a,b)

jelly bean

In [11]:
a,b=b,a
print(a,b)

bean jelly

Python uses a special syntax to pass optional arguments (*args) for tuple unpacking. This means that there can be many number of arguments in place of (*args) in python. All values will be assigned to every variable on left hand side and all remaining values will be assigned to *args .For better understanding consider the following code.

In [15]:
# Python code to study about 
# unpacking python tuple using * 

# first and last will be assigned to x and z 
# remaining will be assined to y 
x, *y, z = (10, "Geeks ", " for ", "Geeks ", 50) 

# print details 
print(x) 
print(y) 
print(z) 

# first and second will be assigned to x and y 
# remaining will be assined to z 
x, y, *z = (10, "Geeks ", " for ", "Geeks ", 50) 
print(x) 
print(y) 
print(z)

10
['Geeks ', ' for ', 'Geeks ']
50
10
Geeks
[' for ', 'Geeks ', 50]

In python tuples can be unpacked using a function in function tuple is passed and in function values are unpacked into normal variable. Consider the following code for better understanding.

In [16]:
# Python code to study about 
# unpacking python tuple using function 

# function takes normal arguments 
# and multiply them 
def result(x, y): 
	return x * y 
# function with normal variables 
print (result(10, 100)) 

# A tuple is created 
z = (10, 100) 

# Tuple is passed 
# function unpacked them 

print (result(*z))

1000
1000

In [12]:
5 in (1,2,5,6)

True

In [13]:
5 not in (1,2,5,6)

False