A lot of times when dealing with iterators, we also get a need to keep a count of iterations. 
Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task.
Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. 
This enumerate object can then be used directly in for loops or be converted into a list of tuples using list() method.

Syntax:

enumerate(iterable, start=0)

Parameters:
Iterable: any object that supports iteration
Start: the index value from which the counter is 
              to be started, by default it is 0

In [10]:
l1 = ["eat","sleep","repeat"] 
s1 = "geek"
obj1=enumerate(l1)
obj2=enumerate(s1)
print(obj1)
print(obj2)
print(list(obj1))
print(list(obj2))
print(list(enumerate(s1,2)))
type(obj1)

<enumerate object at 0x000001FEDF8BC120>
<enumerate object at 0x000001FEDF8BC2D0>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

enumerate

###### enumerate constructs an iterable of (index,value) tuples around another iterable object

In [5]:
l=[1,2,3,4]
for i in enumerate(l):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

In [2]:
for i,v in enumerate(l):
    print(f"{i} {v}")

0 1
1 2
2 3
3 4

In [6]:
for i,v in enumerate(l,1):
    print(i,v)

1 1
2 2
3 3
4 4

In [6]:
courses=['History','Math','GK','Science']
print(courses)

['History', 'Math', 'GK', 'Science']

In [10]:
for course in  enumerate(courses):
    print (course)

(0, 'History')
(1, 'Math')
(2, 'GK')
(3, 'Science')

In [11]:
for index,course in enumerate(courses):
    print(index,course)

0 History
1 Math
2 GK
3 Science

In [12]:
for index,course in enumerate(courses,start=1):
    print(index,course)

1 History
2 Math
3 GK
4 Science

In [13]:
for index,course in enumerate(courses,start=1):
    print(index,course, sep=';')

1;History
2;Math
3;GK
4;Science

###### range(stop)
###### range(start,stop) 
###### range(start,stop,step) 
###### Range doesnt support keyword arguments

In [3]:
range(5)

range(0, 5)

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
range(5,10)

range(5, 10)

In [5]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
list(range(0,10,2))

[0, 2, 4, 6, 8]